<!DOCTYPE html>
<html {{ site.language_attributes }}>

    {% include 'html-header.twig' %}

    <body class="{{ body_class }}">
        {% include 'partials/header.twig' %}

        <main>
            <div class="grid-container">
                {% block content %}
                    <p>Sorry, no content</p>
                {% endblock %}
            </div>
        </main>

        {% include 'partials/footer.twig' %}
        {% include 'html-footer.twig' %}
    </body>
</html>
