body {
    overflow-x: hidden;
}

.full-width {
    margin-left: map-get($grid-container-padding, small) / -2;
    margin-right: map-get($grid-container-padding, small) / -2;

    @include breakpoint(medium) {
        margin-left: map-get($grid-container-padding, medium) / -2;
        margin-right: map-get($grid-container-padding, medium) / -2;
    }

    @include breakpoint(large) {
        margin-left: map-get($grid-container-padding, large) / -2;
        margin-right: map-get($grid-container-padding, large) / -2;
    }

    @media screen and (min-width: $global-width) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}
