@import '~foundation-sites/scss/util/util';

$global-width: rem-calc(1350);

/** Colors */
$foundation-palette: (
  primary: #005AA0,
  secondary: #00774B,
  success: #00B819,
  warning: #EE6E10,
  alert: #F11E1E,
);

// $third-color: map-get($foundation-palette, third);

@include add-foundation-colors;

// $social-palette: (
//   facebook: #3d5a96,
//   instagram: linear-gradient(180deg, #7024c4 0%, #c21975 42%, #c74c4d 70%, #e09b3d 100%),
//   linkedin: #007ab7,
//   twitter: #2aa3ef,
// );

// map-get($foundation-palette, secondary)

$white: #fff;
$black: #161616;
$light-gray: #F8F8F8;
$medium-gray: #b8d1e4;

$primary-font: 'Open Sans', sans-serif;

$body-font-family: $primary-font;
$body-font-color: $black;
$header-font-family: $body-font-family;

$global-lineheight: 1.3;
$global-radius: 24px;
$global-weight-bold: bold;
$header-font-weight: $global-weight-bold;
$header-color: $black;
$header-styles: (
  small: (
    "h1": ("fs": 28, "lh": 30, "mb": 16),
    "h2": ("fs": 24, "lh": 30, "mb": 12),
    "h3": ("fs": 20, "lh": 26, "mb": 12),
    "h4": ("fs": 18, "lh": 26, "mb": 12),
    "h5": ("fs": 18, "lh": 24, "mb": 8),
    "h6": ("fs": 16, "lh": 24, "mb": 8),
  ),
  medium: (
    "h1": ("fs": 42, "lh": 55, "mb": 20),
    "h2": ("fs": 35, "lh": 45, "mb": 18),
    "h3": ("fs": 30, "lh": 34, "mb": 18),
    "h4": ("fs": 20, "lh": 30, "mb": 16),
    "h5": ("fs": 18, "lh": 21, "mb": 10),
    "h6": ("fs": 16, "lh": 21, "mb": 10),
  ),
);

$paragraph-lineheight: inherit;
$anchor-color: $primary-color;

$button-color: $black;
$button-color-alt: $secondary-color;
$button-radius: 500px;
$button-padding: 20px 50px;
$button-background: transparent;
$button-background-hover: $black;
$button-palette: map-merge($foundation-palette, ("white": $white));
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.8125rem,
  large: 1.25rem,
);

$form-label-color: $black;
$form-label-font-size: rem-calc(16);
$form-label-font-weight: $global-weight-bold;
$input-radius: 12px;
$select-radius: $input-radius;
$input-border: 0;
$input-border-focus: 0;
$input-color: $black;
$input-shadow: 0 0px 16px rgba($black, 0.1);
$input-shadow-focus: 0 0 16px rgba($black, 0.3);
$input-padding: 1rem 1.25rem;

$grid-container: $global-width;
$grid-columns: 12;
$grid-margin-gutters: (
  small: 32px,
  medium: 32px,
  large: 50px
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;
$xy-block-grid-max: 8;

// Vendor

// ~/hamburgers
$hamburger-padding-x           : 0 !default;
$hamburger-padding-y           : 0 !default;
$hamburger-layer-width         : 21px !default;
$hamburger-layer-height        : 2px !default;
$hamburger-layer-spacing       : 4px !default;
$hamburger-layer-color         : currentColor !default;
$hamburger-layer-border-radius : 1px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

